body hmtl{

    /* background-color: #F4D889; */
}

.search-header h1{
   text-align: center;
}

.header{
  color: white;
}
.form-control{
min-height: 7vh;
width: 50vw;
}

.activity-wrapper{

}

.search-page-wrapper{
    width: 100vw;
    min-height: 100vh;
}

.search-main-content{
    padding-top:20vh;
}

.activity-card{
  width: auto;
  height: 15vh;

}



.searchbar{
  /* background-color: #F4D889; */
}

.jumbotron{
  padding-right:2px;

}
