body{
    padding: 2rem;
}

.search-header h1{
   text-align: center;
}
.form-control{

}

.search-page-wrapper{
    width: 100vw;
    min-height: 100vh;
}

.search-main-content{
    padding-top:20vh;
}

.activity-card{
  max-height: 5vh;
}

.header{
color:black;
}

.subheading{
color:black
}
